---
title: "About Us"
description: "Quality and Integrity."
permalink: "about/"
eleventyNavigation:
  key: "About Us"
  parent: "About"
  order: "1"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1402">
  <div class="cs-container">
    <span class="cs-int-title">Who we are</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a class="cs-link">About</a>
      <a href="/about" class="cs-link cs-active">About Us</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/images/cleveland-skyline-mobile.webp" />

    <source
      media="(min-width: 601px)"
      srcset="/assets/images/images/cleveland-skyline-horizontal.webp" />
    <img
      decoding="async"
      src="/assets/images/images/cleveland-skyline-horizontal.webp"
      alt="people laughing"
      aria-hidden="true" />
  </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-523">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">What makes us special</h2>
      <p class="cs-text">
        Proudly serving Cleveland, Ohio, KainoGen stands as the premier
        destination for entrepreneurs and small businesses seeking cutting-edge
        web development and design solutions. Our expertise lies in crafting
        bespoke websites that not only engage with visual appeal but also soar
        in search engine rankings. Through our strategic blend of creativity,
        functionality, and SEO optimization, we propel your business to
        unprecedented visibility, driving organic traffic and generating
        valuable leads. At the core of our mission is the empowerment of
        businesses through digital excellence, setting the stage for sustainable
        growth. <br />
        <b>And we've nailed it.</b>
      </p>

      <span class="cs-topper"
        >Powered by Hand Written Code, Customized to Perfection</span
      >
      <p class="cs-text">
        Forget cookie-cutter solutions. At KainoGen, every website is
        meticulously handcrafted by our skilled professionals. By eschewing
        page-builders and mass production tools, we ensure your site is finely
        tuned for peak performance. Experience unparalleled customization
        tailored to your brand – no shortcuts, no compromises, just unparalleled
        quality.
      </p>
      <span class="cs-topper">No Upfront Costs, No Barriers to Success</span>
      <p class="cs-text">
        At KainoGen, we're more than just a web development agency – we're
        committed partners in your digital journey. Our mission is simple: to
        foster long-term relationships built on trust and mutual success. By
        eliminating upfront development costs, we ensure your investment is
        focused on sustainable growth, delivering faster returns and unlocking
        your business's full potential.
      </p>
      <span class="cs-topper">Born to Stay Small, Thrive Together</span>
      <p class="cs-text">
        We're selective, purposefully limiting our clientele to 100 businesses.
        Why? Because we believe in quality over quantity. With KainoGen, you'll
        receive personalized attention and continuous support to keep your
        website ahead of the curve. From regular updates to SEO optimization,
        we're here to maximize your online presence and drive tangible results.
      </p>
    </div>
    <!-- ============================================ -->
    <!--                 Why Choose Us                -->
    <!-- ============================================ -->

    <section id="why-choose-682">
      <div class="cs-container">
        <div class="cs-image-group">
          <picture class="cs-picture cs-picture1">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fhealth1.jpg
              " />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fhealth1.jpg
              " />
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fhealth1.jpg"
              alt="people outside"
              width="306"
              height="360" />
          </picture>
          <picture class="cs-picture cs-picture2">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth2.jpg
              " />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth2.jpg
              " />
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth2.jpg"
              alt="people outside"
              width="306"
              height="360" />
          </picture>
          <picture class="cs-picture cs-picture3">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth3.jpg
              " />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth3.jpg
              " />
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth3.jpg"
              alt="person gardening"
              width="306"
              height="360" />
          </picture>
          <picture class="cs-picture cs-picture4">
            <source
              media="(max-width: 600px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth4.jpg
              " />
            <source
              media="(min-width: 601px)"
              srcset="
                https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth4.jpg
              " />
            <img
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fhealth4.jpg"
              alt="urban environment in green"
              width="306"
              height="360" />
          </picture>

          <img
            data-img2picture-ignore="true"
            color=" var(--secondary)"
            ;
            class="cs-graphic"
            aria-hidden="true"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg"
            loading="lazy"
            decoding="async"
            alt="zigzag"
            width="983"
            height="416" />
        </div>

        <div class="cs-content">
          <span class="cs-topper">Why Choose Us</span>
          <h2 class="cs-title">
            We Were Made For <span class="cs-color">Entrepreneurs</span> And
            Small
            <span class="cs-color">Businesses</span>
          </h2>
          <p class="cs-text">
            Your <span class="cs-color">Website</span> Your
            <span class="cs-color"> Way</span>.
          </p>
          <ul class="cs-ul">
            <li class="cs-li">
              <h3 class="cs-h3">
                <img
                  data-img2picture-ignore="true"
                  class="cs-icon"
                  aria-hidden="true"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg"
                  loading="lazy"
                  decoding="async"
                  alt="squares"
                  width="17"
                  height="18" />
                Our pricing is transparent
              </h3>
              <p class="cs-item-text">
                We designed a rang of pricing options to keep capital in your
                business as it grows. Starting or growing a business is hard
                enough without having to absorb the usual cost professional Web
                Design and Development.
              </p>
            </li>
            <li class="cs-li">
              <h3 class="cs-h3">
                <img
                  data-img2picture-ignore="true"
                  class="cs-icon"
                  aria-hidden="true"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg"
                  loading="lazy"
                  decoding="async"
                  alt="squares"
                  width="17"
                  height="18" />
                Products built with purpose.
              </h3>
              <p class="cs-item-text">
                Our designs are beautifully created to engage your target
                audience, made uniquely for your business. Hand coded, and built
                lean. Under the hood we engineer for performance in search
                engines and on your customer's screens.
              </p>
            </li>

            <li class="cs-li">
              <h3 class="cs-h3">
                <img
                  data-img2picture-ignore="true"
                  class="cs-icon"
                  aria-hidden="true"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fsquares.svg"
                  loading="lazy"
                  decoding="async"
                  alt="squares"
                  width="17"
                  height="18" />
                Beyond service
              </h3>
              <p class="cs-item-text">
                Our commitment doesn't end with the launch of your website. We
                provide ongoing support and maintenance to ensure your online
                presence stays optimized and effective. With free tech support
                and a 24/7 emergency line directly to our lead programmer,
                proactive maintenance, and a focus on continuous improvement,
                we're here to help your business grow and thrive in the digital
                landscape.
              </p>
            </li>
          </ul>
          <a class="cs-button-solid" href="/contact">Contact Us</a>
        </div>
      </div>
    </section>

    {% endblock %}
  </div>
</section>
