--- 
title: "Privacy Policy" 
description: "Our Privacy Policy." 
permalink: "privacy/" 
eleventyNavigation: 
key: false 
order: false 
parent: false 
--- 
{%extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/privacy-and-tos.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">Privacy Policy</h1>

      <h2>KainoGen llc.</h2>
      <p>Effective Date: 2/1/2024</p>
      <p>
        KainoGen LLC ("KainoGen," "we," "us," or "our") respects the privacy of
        our users ("you" or "your"). This Privacy Policy describes the types of
        information we collect from and about you when you visit our website
        (www.kainoGen.com) (the "Website") and how we use that information.
      </p>
      <h2>Information We Collect</h2>
      <p>
        We collect several different types of information for various purposes
        to improve our services to you.
      </p>
      <h3>Information You Provide Directly</h3>
      <p>
        We collect information you directly provide through the Website, such
        as:
      </p>
      <ul>
        <li>
          Contact information: Name, email address, phone number, company name
          (optional)
        </li>
        <li>
          Inquiry details: Project descriptions, budget information (optional)
        </li>
        <li>
          Communication records: Emails, chats, or other communications with
          Kainogen
        </li>
      </ul>
      <h3>Information Collected Automatically</h3>
      <p>
        We collect certain information automatically when you visit the Website,
        such as:
      </p>
      <ul>
        <li>
          Log data: IP address, browser type, operating system, referring URL,
          date/time stamp, and clickstream data
        </li>
        <li>Usage data: How you navigate and interact with the Website</li>
      </ul>
      <h2>Cookies and Other Tracking Technologies</h2>
      <p>
        We may use cookies and other tracking technologies to collect and store
        information about your visit to the Website. Cookies are small data
        files that are placed on your device when you visit a website. They can
        be used to store a variety of information, such as your preferences or
        browsing history.
      </p>
      <p>We use the following types of cookies:</p>
      <ul>
        <li>
          Essential Cookies: These cookies are strictly necessary for the
          Website to function properly.
        </li>
        <li>
          Performance Cookies: These cookies collect information about how you
          use the Website, such as which pages you visit and how long you spend
          on each page.
        </li>
        <li>
          Functionality Cookies: These cookies allow the Website to remember
          your preferences (such as language) and provide you with a more
          personalized experience.
        </li>
        <li>
          Targeting Cookies: These cookies are used to deliver advertising that
          is relevant to you and your interests.
        </li>
      </ul>
      <p>
        You can control or disable cookies through your browser settings.
        However, doing so may limit your ability to use certain features of the
        Website.
      </p>
      <h2>Use of Your Information</h2>
      <p>We use the information we collect for the following purposes:</p>
      <ul>
        <li>To operate and maintain the Website</li>
        <li>To respond to your inquiries and requests</li>
        <li>To provide you with information about our services</li>
        <li>To improve the Website and our services</li>
        <li>
          To send you marketing and promotional materials (with your consent)
        </li>
        <li>To comply with legal and regulatory obligations</li>
      </ul>
      <h2>Sharing Your Information</h2>
      <p>
        We may share your information with third-party service providers who
        help us operate the Website and provide our services. These service
        providers are contractually obligated to keep your information
        confidential and secure.
      </p>
      <p>
        We will not share your information with any third parties for marketing
        purposes without your consent.
      </p>
      <p>
        We may also disclose your information if we are required by law to do
        so, such as in response to a court order or subpoena.
      </p>
      <h2>Data Security</h2>
      <p>
        We take reasonable steps to protect the information you provide to us
        from loss, misuse, unauthorized access, disclosure, alteration, or
        destruction. However, no website or internet transmission is completely
        secure. We cannot guarantee the security of your information.
      </p>
      <h2>Your Choices</h2>
      <p>You have certain choices regarding your information:</p>
      <p>
        You can opt-out of receiving marketing communications from us by
        following the unsubscribe instructions in those communications. You can
        request access to or deletion of your personal information by contacting
        us at Jason@KainoGen.com
      </p>
      <h2>Children's Privacy</h2>
      <p>
        The Website is not directed to children under the age of 13. We do not
        knowingly collect personal information from children under 13. If you
        are a parent or guardian and you believe that your child has provided us
        with personal information, please contact us. We will take steps to
        remove the information from our systems.
      </p>
      <p>
        Changes to this Privacy Policy We may update this Privacy Policy from
        time to time. We will notify you of any changes by posting the new
        Privacy Policy on the Website. You are advised to review this Privacy
        Policy periodically for any changes.
      </p>
      <h2>Contact Us</h2>
      <p>
        If you have any questions about this Privacy Policy, please contact us
        at Jason@KainoGen.com.
      </p>
      <a href="../about" class="cs-button-solid">Read About Us</a>
    </div>
  </div>
</section>

{% endblock %}
