---
title: "Services"
description: "Our Services"
permalink: "services/"
eleventyNavigation:
  key: "Services"
  order: "300"
---

{% extends 'layouts/base.html' %} {% block head %}
<link rel="stylesheet" href="/assets/css/servicess.css" />
<script src="/assets/js/prices.js" defer></script>
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1400">
  <div class="cs-container">
    <span class="cs-int-title">Our Services</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/services" class="cs-link cs-active">Services</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 300px)"
      srcset="../../assets/images/images/computer-close-up-mobile-phone.webp" />
    <source
      media="(max-width: 600px)"
      srcset="../../assets/images/images/computer-close-up-mobile.webp" />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="../../assets/images/images/computer-close-up-wide.webp" />
    <img
      decoding="async"
      src="../../assets/images/images/computer-close-up-wide.jpg"
      alt="people laughing"
      width="1280"
      height="568"
      aria-hidden="true" />
  </picture>
</div>
<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-603">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Flexible and Transparent pricing</span>
      <h2 class="cs-title">Find the right fit for your business</h2>
      <p class="cs-text">
        Our monthly service packages require a 12 month commitment to start and
        are month-to-month after 12 months with no additional commitments, price
        increases, or surprises.
      </p>
      <div class="cs-toggle-group">
        <span id="cs-option1-603" class="cs-plan">Monthly Subscription</span>
        <div class="cs-toggle" aria-label="click to switch plans pricing">
          <span aria-hidden="true" class="cs-toggle-switch"></span>
        </div>
        <span id="cs-option2-603" class="cs-plan">No Commitments</span>
      </div>
    </div>
    <ul class="cs-card-group cs-option1">
      <li class="cs-item">
        <div class="cs-price-box">
          <span class="cs-package">Start-up pack</span>
          <span class="cs-price">$195.97</span>
          <span class="cs-desc">Per Month</span>
        </div>
        <p class="cs-item-text">
          The perfect option for small businesses looking to get started, or an
          established one looking to grow. The best choice for if you plan to
          let your website do all the work for you.
        </p>
        <span class="cs-included">Whats Included?</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Homepage and 3 Additional Pages
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Free Hosting
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Free Maintenance
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Free Edits
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            24/7 Support
          </li>
        </ul>
        <a href="/contact" class="cs-button-solid cs-price-button"
          >Get Started</a
        >
      </li>
      <li class="cs-item">
        <div class="cs-price-box">
          <span class="cs-package">Pro Pack</span>
          <span class="cs-price">$245.97</span>
          <span class="cs-desc">Per Month</span>
        </div>
        <p class="cs-item-text">
          If your business needs needs to be more dynamic, our Pro Pack includes
          a Content Management System, so you can update and engage with your
          customers anytime. Includes everything ins the Start-Up Pack plus:
        </p>
        <span class="cs-included">Whats Included?</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Everything in the start-up pack
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            7 Pages
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Content Management System for Blog or Menu
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Custom Email @ your domain
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Traffic Analytics
          </li>
        </ul>
        <a href="/contact" class="cs-button-solid cs-price-button"
          >Get Started</a
        >
      </li>
      <li class="cs-item">
        <div class="cs-price-box">
          <span class="cs-package">E-Commerce Pack</span>
          <span class="cs-price">$695.97</span>
          <span class="cs-desc">Per Month</span>
        </div>
        <p class="cs-item-text">
          If your business needs an online sales channel, our E-Commerce Pack is
          the answer. With everything in the start-up and Pro Packs plus an
          Integrated e-commerce platform, powered by Shopify under the hood.
        </p>
        <span class="cs-included">Whats Included?</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Everything in the start-up pack
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Everything in the pro-pack
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            10 Pages
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Blog & Menu
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Custom Storefront Built in
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Shopify Back-End integration
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Free Annual Redesign
          </li>
        </ul>
        <a href="/contact" class="cs-button-solid cs-price-button"
          >Get Started</a
        >
      </li>
    </ul>
    <ul class="cs-card-group cs-option2">
      <li class="cs-item">
        <div class="cs-price-box">
          <span class="cs-package">Start-up Pack</span>
          <span class="cs-price">$3895.97</span>
          <span class="cs-desc">For Design and Development</span>
        </div>
        <p class="cs-item-text">
          The perfect option for small businesses looking to get started, or an
          established one looking to grow. The best choice for if you plan to
          let your website do all the work for you.
        </p>
        <span class="cs-included">Whats Included?</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Full Ownership of All Design and Code
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            2 Free Revisions Prior to Completion
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Homepage and 3 Additional Pages
          </li>
        </ul>
        <a href="/contact" class="cs-button-solid cs-price-button"
          >Get Started</a
        >
      </li>
      <li class="cs-item">
        <div class="cs-price-box">
          <span class="cs-package">Pro Pack</span>
          <span class="cs-price">$5695.97</span>
          <span class="cs-desc">For Design and Development</span>
        </div>
        <p class="cs-item-text">
          If your business needs needs to be more dynamic, our Pro Pack includes
          a Content Management System, so you can update and engage with your
          customers anytime. Includes everything ins the Start-Up Pack
        </p>
        <span class="cs-included">Whats Included?</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Everything in the Start-up Pack
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            +1 Free Revision
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            CMS for Blog or Menu
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Home Page and 5 Additional Pages
          </li>
        </ul>
        <a href="/contact" class="cs-button-solid cs-price-button"
          >Get Started</a
        >
      </li>
      <li class="cs-item">
        <div class="cs-price-box">
          <span class="cs-package">E-Commerce Pack</span>
          <span class="cs-price">$9,795.97</span>
          <span class="cs-desc">For Design and Development</span>
        </div>
        <p class="cs-item-text">
          If your business needs an online sales channel, our E-Commerce Pack is
          the answer. With everything in the start-up and Pro Packs plus an
          Integrated e-commerce platform, powered by Shopify under the hood.
        </p>
        <span class="cs-included">Whats Included?</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Everything in the Start Up and Pro Packs
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Home Page and 7 Additional Pages
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            up to 3 Revisions Prior to Completion
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            CMS integrated Blog and Menu
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Pricing/red-check.svg"
              alt="checkmark"
              width="15"
              height="15" />
            Custom Storefront with Shopify integration
          </li>
          <a href="/contact" class="cs-button-solid cs-price-button"
            >Get Started</a
          >
        </ul>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-1376">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Focus On What You Do Best</span>
      <h2 class="cs-title">Let Us Handle The Rest</h2>
      <h3 class="cs-h3">With Our Monthly Service Plan</h3>
      <p class="cs-text">
        Included in our Monthly Packages and Available Separately
      </p>
    </div>
    <!--
            We had to use a div here because of the grouping we had to do to make the staggerd design work. We needed to create two groups, one with 3 cards and one with 2 cards so we can arrange the cards separately to create the design we need to create. 
        -->
    <div class="cs-card-group">
      <div class="cs-group1">
        <div class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-asset.svg"
              alt="icon"
              width="48"
              height="48" />
          </picture>
          <h3 class="cs-h3">SEO Optimized</h3>
          <p class="cs-item-text">
            Built from scratch with advanced SEO optimizations.
          </p>
        </div>
        <div class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-image.svg"
              alt="icon"
              width="32"
              height="32" />
          </picture>
          <h3 class="cs-h3">Fully Responsive</h3>
          <p class="cs-item-text">
            Mobile first development with a fully responsive design ensures that
            your website will look great on any device.
          </p>
        </div>
        <div class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-pipeline.svg"
              alt="icon"
              width="32"
              height="32" />
          </picture>
          <h3 class="cs-h3">Continuous Development</h3>
          <p class="cs-item-text">
            Continuous development ensure that your website is always optimized
            and up to date.
          </p>
        </div>
      </div>
      <div class="cs-group2">
        <div class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-critical.svg"
              alt="icon"
              width="32"
              height="32" />
          </picture>
          <h3 class="cs-h3">24/7 Support</h3>
          <p class="cs-item-text">
            No phone trees or outsourced call centers. We're in the office 6
            days a week with a 24/7 emergency line.
          </p>
        </div>
        <div class="cs-item">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/adv-kit-map.svg"
              alt="icon"
              width="32"
              height="32" />
          </picture>
          <h3 class="cs-h3">Integrated</h3>
          <p class="cs-item-text">
            Google Business profile set-up for local visibility, and social
            media links to engage with your customers.
          </p>
        </div>
      </div>
      <picture class="cs-waves">
        <!--Mobile Image-->
        <source
          media="(max-width: 1023px)"
          srcset="
            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-tablet.svg
          " />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 1024px)"
          srcset="
            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg
          " />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg"
          alt="wave"
          width="1280"
          height="568" />
      </picture>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1108">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">service features</span>
      <h2 class="cs-title">Frequently Asked Questions</h2>
      <p class="cs-text">
        If you don't find an answer to your questions about our features or
        services, please reach out to us, we're happy to help.
      </p>
      <picture class="cs-picture">
        <!--Mobile Image-->
        <source
          media="(max-width: 600px)"
          srcset="../../assets/images/images/coding-3.jpg" />
        <!--Tablet and above Image-->
        <source
          media="(min-width: 601px)"
          srcset="../../assets/images/images/coding-3.jpg" />
        <img
          loading="lazy"
          decoding="async"
          src="../../assets/images/images/coding-3.jpg"
          alt="appliance"
          width="522"
          height="400" />
      </picture>
    </div>
    <div class="cs-flex-group">
      <ul class="cs-faq-group">
        <!-- Active class added as default -->
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text"> What is SEO? </span>
          </button>
          <p class="cs-item-p">
            SEO stands for Search Engine Optimization. It refers to the practice
            of optimizing your website to increase its visibility and ranking in
            search engine results pages (SERPs). When people search for keywords
            or phrases related to your business, you want your website to appear
            as high up in the search results as possible. This is important
            because the higher your website ranks, the more likely it is that
            users will click on it, leading to increased traffic and potential
            customers for your business.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text"> How do you optimize for SEO?</span>
          </button>
          <p class="cs-item-p">
            <b>Technical SEO:</b> For this aspect we focus on optimizing the
            technical elements of your website, such as site speed,
            mobile-friendliness, site structure, and schema markup, to ensure it
            is easily accessible and indexable by search engines.
            <br />

            <b>On-Page Optimization:</b> This includes optimizing various
            on-page elements such as title tags, meta descriptions, headings,
            and images to make them more search engine-friendly.
            <br />

            <b>Keyword Optimization:</b> This involves researching and selecting
            relevant keywords that users are likely to search for. These
            keywords are then strategically incorporated into your website's
            content, meta tags, headings, and URLs to signal to search engines
            what your website is about.
            <br />

            <b>Content Optimization:</b> Creating high-quality, informative, and
            engaging content is crucial for SEO. Search engines prioritize
            websites that provide valuable information to users. This includes
            content that is relevant to your business, such as blog posts, news
            articles, and product descriptions.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What is off-page SEO optimization?
            </span>
          </button>
          <p class="cs-item-p">
            Off-page optimization refers to the activities and strategies
            undertaken outside of your website to improve its visibility and
            authority in search engine results pages (SERPs). While on-page
            optimization focuses on optimizing the technical elements of your
            website, off-page optimization involves building your website's
            reputation and credibility across the internet. Some examples of
            off-page optimization include:Link Building, Social Media
            Engagement, Online Reputation Management, Guest Blogging and Content
            Contributions, and Influencer Outreach and Collaboration.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              what exactly is responsive design?
            </span>
          </button>
          <p class="cs-item-p">
            Responsive web design is an approach to designing and building
            websites that ensures optimal viewing and interaction across a wide
            range of devices and screen sizes, from desktop computers to
            smartphones and tablets. A responsively designed website
            automatically adjusts its layout, content, and functionality based
            on the device's screen size and orientation, providing users with a
            seamless and consistent browsing experience.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What is continuous development?
            </span>
          </button>
          <p class="cs-item-p">
            Continuous development is an iterative approach to website
            development where we perform maintenance and updates and add new
            features, enhancements, and improvements. Basically, we are always
            looking for something we can improve on to make your website better.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What's considered an emergency for after hours support?
            </span>
          </button>
          <p class="cs-item-p">
            If There is a problem that is having an immediate negative effect on
            your business, we want to know about it as soon as possible, any
            time of day or night. For any non-emergency issues after hours
            please leave or send us a message and we will start on it first
            thing in the morning.
          </p>
        </li>
        <li class="cs-faq-item">
          <button class="cs-button">
            <span class="cs-button-text">
              What's the google profile thing about??
            </span>
          </button>
          <p class="cs-item-p">
            <span
              >Having a Google Business Profile is crucial for local SEO (Search
              Engine Optimization) and ensuring that potential customers in your
              area can easily find and connect with your business. Here's how it
              helps:
            </span>
            <br />
            <b>Increased Visibility:</b> When someone searches for a product or
            service related to your business in your area, Google often displays
            a list of local businesses in the search results. A well-optimized
            Google Business Profile increases the chances of your business
            appearing in these local search results. <br /><b>Map Listings:</b>
            Your Google Business Profile information is displayed prominently in
            Google Maps, making it easy for nearby customers to locate your
            business and get directions.
            <br />
            <b>Customer Reviews:</b> A Google Business Profile allows customers
            to leave reviews and ratings about their experience with your
            business. Positive reviews not only build trust with potential
            customers but also contribute to your business's visibility in local
            search results.
            <br />
            <b>Key info at a glance</b>Your profile provides essential
            information such as your business hours, phone number, website, and
            address. This quick access to information makes it convenient for
            potential customers to contact or visit your business.
            <br />
            <b>And, of course, it links directly to your new website</b>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

{# Inlining the script tag to make it easier when merging #}
<script>
  const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
  for (const item of faqItems) {
    const onClick = () => {
      item.classList.toggle("active");
    };
    item.addEventListener("click", onClick);
  }
</script>

{% endblock %}
