---
title: "Steps"
description: "What steps we take to build your website"
permalink: "steps/"
eleventyNavigation:
  key: "steps"
  order: "200"
  parent: "About"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/steps.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1402">
  <div class="cs-container">
    <span class="cs-int-title">Who we are</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a role="presentation" class="cs-link">About</a>
      <a href="/about" class="cs-link cs-active">Steps</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->

    <source
      media="(max-width: 300px)"
      srcset="../../assets/images/images/lightbulb-mobile-phone.webp" />
    <!--Tablet and above Image-->
    <source
      <source
      media="(max-width: 600px)"
      srcset="../../assets/images/images/lightbulb-mobile.webp" />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="../../assets/images/images/lightbulb.webp" />
    <img
      decoding="async"
      src="../../assets/images/images/lightbulb.jpg"
      alt="people laughing"
      width="1280"
      height="568"
      aria-hidden="true" />
  </picture>
</div>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-284">
  <div class="cs-container">
    <!-- Left Section -->
    <div class="cs-content">
      <span class="cs-topper">Step by Step</span>
      <h2 class="cs-title">Our Effortless Process for Crafting Your Website</h2>
      <p class="cs-text">
        Discover how simple it is to bring your vision to life
      </p>
    </div>
    <!-- Right Section -->
    <ul class="cs-right-section">
      <li class="cs-item">
        <span class="cs-number">01</span>
        <p class="cs-item-text">
          <strong>Reach out</strong> Share your goals and questions with us.
          Your level of involvement is entirely up to you.
        </p>
      </li>

      <li class="cs-item">
        <span class="cs-number">02</span>
        <p class="cs-item-text">
          <strong>Let's connect</strong> Whether in person or online, we'll
          collaborate to devise a tailored plan for your project. If you're
          satisfied, we'll onboard you and provide some guidance.
        </p>
      </li>

      <li class="cs-item">
        <span class="cs-number">03</span>
        <p class="cs-item-text">
          <strong>Prepare your materials</strong> Enjoy the process. Capture
          images, videos, and write content that reflects your brand essence,
          which we'll leverage for copywriting and SEO enhancement.
        </p>
      </li>

      <li class="cs-item">
        <span class="cs-number">04</span>
        <p class="cs-item-text">
          <strong>Collaboration is key</strong> Send us your logos, photos, or
          any design elements you prefer or find inspiring.
        </p>
      </li>

      <li class="cs-item">
        <span class="cs-number">05</span>
        <p class="cs-item-text">
          <strong>Breathe life into your ideas</strong> Through innovative
          design and compelling content, we'll craft a website that captivates
          both customers and search engines.
        </p>
      </li>

      <li class="cs-item">
        <span class="cs-number">06</span>
        <p class="cs-item-text">
          <strong>Your satisfaction matters</strong> Review the design draft,
          and we'll accommodate any adjustments you desire.
        </p>
      </li>

      <li class="cs-item">
        <span class="cs-number">07</span>
        <p class="cs-item-text">
          <strong>Turning vision into reality</strong> Commence coding and
          meticulous testing of your website.
        </p>
      </li>

      <li class="cs-item">
        <span class="cs-number">08</span>
        <p class="cs-item-text">
          <strong>Launch</strong> Your brand-new website is live, ready to
          showcase your business to the world. Congratulations on this milestone
          achievement!
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1071">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-flex">
        <span class="cs-topper">Get Started</span>
        <h2 class="cs-title">Ready to get started</h2>
      </div>
      <div class="cs-button-box">
        <a href="" class="cs-button-solid">See Our Services</a>
        <a href="" class="cs-button-transparent">Contact Us</a>
      </div>
    </div>
  </div>
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="../../assets/images/images/computer-close-up.jpg" />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="../../assets/images/images/computer-close-up.jpg" />
    <img
      loading="lazy"
      decoding="async"
      src="../../assets/images/images/computer-close-up.jpg"
      alt="mechanic"
      width="1280"
      height="568" />
  </picture>
</section>

{% endblock %}
