---
title: "Lighthouse"
description: "How to use google lighthouse"
permalink: "video/"
eleventyNavigation:
  key: "Lighthouse"
  order: "300"
  parent: "About"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="../../assets/css/video.css" />

{% endblock %} {% block body %}<!DOCTYPE html>

<div id="banner-1402">
  <div class="cs-container">
    <span class="cs-int-title">Who we are</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a class="cs-link">About</a>
      <a href="/lighthouse" class="cs-link cs-active">Google Lighthouse</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="../../assets/images/images/lighthouse.webp" />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="../../assets/images/images/lighthouse.webp" />
    <img
      decoding="async"
      src="../../assets/images/images/lighthouse.webp"
      alt="people laughing"
      width="1280"
      height="568"
      aria-hidden="true" />
  </picture>
</div>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-889">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">
        Here is something most web developers would never want you to know
      </span>
      <h1 class="cs-title">How to check our work</h1>
      <p class="cs-text">
        We are proud of our ability to maximize the performance that Google uses
        to decide which websites to link to customers.
      </p>
    </div>

    <div class="cs-content">
      <p class="cs-topper">Go to Google's Online</p>
      <a class="cs-link" href="https://pagespeed.web.dev">
        <button class="cs-button-solid">Page Speed Test</button>
      </a>
      <p class="cs-text">and enter the URL of any website you'd like to test</p>
    </div>

    <div class="cs-content">
      <h2 class="cs-topper">If you would prefer to run tests locally</h2>
      <p>learn to use Chrome Developer Tools</p>
      <iframe
        class="cs-iframe"
        loading="lazy"
        src="https://www.youtube.com/embed/VyaHwvPWuZU?start=70&amp;end=95&rel=0&showinfo=0"
        title="What Is Google Lighthouse and How to Use It?"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
      </iframe>

      
    </div>
    <a href="/"><button class="cs-button-solid">Home</button></a>
  </div>
</section>

{% endblock %}
